@font-face {
    font-family: 'Gibson';
    src: url('Gibson-Bold.woff2') format('woff2'),
        url('Gibson-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

